{% block sidebar %}



<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
    <div class="card my-4">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text"> The sages of all times have spoken of a shimmering light that prevailed from time immemorial. 
                The light which took form, sublimed in essence and tarred in spoils, wandered where no Man has gone before. 
                The time was set for the Man to beseech and withstand.
                The Journey has started.<br><br>So it begins…</p>
            <!-- <a href="#" class="btn btn-danger">Know more!</a> -->
        </div>
    </div>
</div>

{% endblock sidebar %}